<!-- LOADER PAGE -->
<html>
	<head>
		<title>#/g/technology</title>
		<meta charset="utf-8" /> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link href="/static/loader.css" rel="stylesheet">
	</head>
	<body>
		<!-- spinner -->
		<div id="spinner">
		    <div class="small1">
		      <div class="small ball smallball1"></div>
		      <div class="small ball smallball2"></div>
		      <div class="small ball smallball3"></div>
		      <div class="small ball smallball4"></div>
		    </div>


		    <div class="small2">
		      <div class="small ball smallball5"></div>
		      <div class="small ball smallball6"></div>
		      <div class="small ball smallball7"></div>
		      <div class="small ball smallball8"></div>
		    </div>

		    <div class="bigcon">
		      <div class="big ball"></div>
		    </div>
		</div>

		<!-- place where content will appear -->
		<div id="content">

		</div>
		
		<!-- scripts -->
		<script src="/static/jquery.js"></script>
		<script src="/static/socketio.js"></script>
		<script src="/static/loader.js"></script>
	</body>			
</html>