@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), url(/static/raleway.woff2) format('woff2');
}

#header {
	text-align: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	/*background-color: blue;*/
	font-family: Raleway;
	font-size: 42px;
}

.blue {color: #46b9ff;}