@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), url(/static/raleway.woff2) format('woff2');
}

input {
	padding: 10px;
	border-width: 0px;
	margin-bottom: 5px;
}

#mascot {
	position: fixed;
	bottom: 0px;
	right: 10px;
	max-width: 200px;
	cursor: pointer;
	display: none;
}

#statusBar {
	position: fixed;
	right: 0;
	bottom: 0;
	color: #000;
	padding: 3px;
}

#realContent {
	position: absolute;
	overflow-y: auto;
	top: 90px;
	left: 80px;
	color: black;
	font-family: Raleway;
	font-size: 18px;
	font-weight: bold;
	/*margin-right: 200px;*/
}

#menuBar {
	left: 0px;
	top: 80px;
	/*border-right: 3px solid rgb(70, 185, 255);
	border-top: 3px solid rgb(70, 185, 255);
	border-bottom: 3px solid rgb(70, 185, 255);*/
	position: absolute;
	/*background-color: rgb(70, 185, 255);
	background-color: #ddd;
	
	box-shadow: 3px 3px 3px #888888;*/
	z-index: 1;
	overflow: auto;
}

.menuItem {
	padding: 10px;
	margin-top: 5px;
	cursor: pointer;
	overflow: hidden;
	width: 30px;
	/*height: 26px;*/
	position: relative;
	z-index: 5;
}

.menuItem:hover {
	animation: menuItemEffect 1s forwards;
	-webkit-animation: menuItemEffect 1s forwards;
	-moz-animation: menuItemEffect 1s forwards;
}

.menuInfo {
	position: absolute;
	left: 50px;
	top: 10px;
	color: #DDD;
	font-weight: bold;
	white-space: nowrap;
	font-family: Raleway;
	font-size: 20px;
	z-index: 6;
}

@keyframes menuItemEffect {
    0% {background-color: #ddd; width: 30px; }
    100% { background-color: #6FB2FF; width: 170px; }
}

@-webkit-keyframes menuItemEffect {
    0% { background-color: #ddd; width: 30px; }
    100% { background-color: #6FB2FF; width: 170px; }
}

@-moz-keyframes menuItemEffect {
    0% { background-color: #ddd; width: 30px; }
    100% { background-color: #6FB2FF; width: 170px; }
}

.menuItem.selected {
	background-color: rgb(70, 185, 255) !important;
}

.menuItem.selected img {
	-webkit-filter: invert(100%);
	-moz-filter: invert(100%);
	filter: invert(100%);
}

.menuItem img {
	/*height: 26px;*/
}

#header {
	text-align: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	/*background-color: blue;*/
	font-family: Raleway;
	font-size: 42px;
	padding: 10px;
	color: #DDD;
	z-index: 2;
	background-color: #DDD;
}

#effect {
	/*-webkit-animation: 5s ease infinite headerEffect;
	-moz-animation: 5s ease infinite headerEffect;
	-animation: 5s ease infinite headerEffect;*/
	background-color: rgba(70, 185, 255, 1);
	position: fixed;
	left: 0;
	top: 0;
	width: 0px;
	height: 70px;
	z-index: 0;
	/*box-shadow: 3px 3px 3px #888888;*/
}

.blue {
	color: rgba(70, 185, 255, 1);
}

.green {
	color: #4E9A06;
}

.bigger {
	font-size: 26px;
}

.coolAnimation {
	-webkit-animation: 2s ease headerEffect forwards;
	-moz-animation: 2s ease headerEffect forwards;
	-animation: 2s ease headerEffect forwards;
}

.reverseCoolAnimation {
	-webkit-animation: 2s ease revHeaderEffect forwards;
	-moz-animation: 2s ease revHeaderEffect forwards;
	-animation: 2s ease revHeaderEffect forwards;
}

@-webkit-keyframes headerEffect {
    0% { left: 0; width: 0%; }
    100% { left: 0; width: 100%; }
}

@-moz-keyframes headerEffect {
    0% { left: 0; width: 0%; }
    100% { left: 0; width: 100%; }
}

@keyframes headerEffect {
    0% { left: 0; width: 0%; }
    100% { left: 0; width: 100%; }
}

@-webkit-keyframes revHeaderEffect {
    0% { left: 0; width: 100%; }
    100% { left: 100%; width: 0%; }
}

@-moz-keyframes revHeaderEffect {
    0% { left: 0; width: 100%; }
    100% { left: 100%; width: 0%; }
}

@keyframes revHeaderEffect {
    0% { left: 0; width: 100%; }
    100% { left: 100%; width: 0%; }
}

.spinner {
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}