@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), url(/static/raleway.woff2) format('woff2');
}

#menuBar {
	left: 0px;
	top: 80px;
	/*border-right: 3px solid rgb(70, 185, 255);
	border-top: 3px solid rgb(70, 185, 255);
	border-bottom: 3px solid rgb(70, 185, 255);*/
	position: fixed;
	/*background-color: rgb(70, 185, 255);
	background-color: #ddd;
	
	box-shadow: 3px 3px 3px #888888;*/
}

.menuItem {
	padding: 10px;
	margin-top: 5px;
	cursor: pointer;
	overflow: hidden;
	width: 30px;
	/*height: 26px;*/
	position: relative;
}

.menuItem:hover {
	animation: menuItemEffect 1s forwards;
	-webkit-animation: menuItemEffect 1s forwards;
	-moz-animation: menuItemEffect 1s forwards;
}

.menuInfo {
	position: absolute;
	right: 50px;
	top: 10px;
	color: #DDD;
	font-weight: bold;
	white-space: nowrap;
	font-family: Raleway;
	font-size: 20px;
}

@keyframes menuItemEffect {
    0% {background-color: #ddd; width: 30px; }
    100% { background-color: #6FB2FF; width: 200px; }
}

@-webkit-keyframes menuItemEffect {
    0% { background-color: #ddd; width: 30px; }
    100% { background-color: #6FB2FF; width: 200px; }
}

@-moz-keyframes menuItemEffect {
    0% { background-color: #ddd; width: 30px; }
    100% { background-color: #6FB2FF; width: 200px; }
}

.menuItem.selected {
	background-color: rgb(70, 185, 255) !important;
}

.menuItem.selected img {
	-webkit-filter: invert(100%);
	-moz-filter: invert(100%);
	filter: invert(100%);
}

.menuItem img {
	/*height: 26px;*/
}

#header {
	text-align: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	/*background-color: blue;*/
	font-family: Raleway;
	font-size: 42px;
	padding: 10px;
	color: #DDD;
}

#effect {
	/*-webkit-animation: 5s ease infinite headerEffect;
	-moz-animation: 5s ease infinite headerEffect;
	-animation: 5s ease infinite headerEffect;*/
	background-color: rgba(70, 185, 255, 1);
	position: fixed;
	left: 0;
	top: 0;
	width: 0px;
	height: 70px;
	z-index: 0;
	/*box-shadow: 3px 3px 3px #888888;*/
}

@-webkit-keyframes headerEffect {
    0% { left: 0; width: 0%; }
    50% { left: 0; width: 100%; }
    100% { left: 100%; width: 0%; }
}

@-moz-keyframes headerEffect {
    0% { left: 0; width: 0%; }
    50% { left: 0; width: 100%; }
    100% { left: 100%; width: 0%; }
}

@keyframes headerEffect {
    0% { left: 0; width: 0%; }
    50% { left: 0; width: 100%; }
    100% { left: 100%; width: 0%; }
}

